<h1>My new Task</h1>

<%= form_for @task do |f| %>
  <%= f.label :title, "Enter a new task" %>
  <%= f.text_field :title %>
  <%= f.label :details, "Details" %>
  <%= f.text_field :details %>
  <%= f.label :completed, "Is it Completed?" %>
  <%= f.text_field :completed %>
  <%= f.submit %>
<% end %>
